.PortfolioCard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.PortInfo{
    width: 750px;
}
.PortImg img{
    width: 500px;
}
.PortInfo span{
    color: var(--text-color);
    text-transform: uppercase;
}
.PortInfo h2{
    color: var(--heading-color);
    letter-spacing: 2px;
    border-left: 3px solid var(--main-color-2);
    padding-left: 15px;
    margin: 10px 0;
    font-size: 30px;
    text-transform: uppercase;
}
.PortInfo p{
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 17px;
}
.PortInfo a{
    background: var(--main-color-dark-1);
    color: #fff;
    letter-spacing: 1px;
    font-size: 17px;
}