.Service {
    display: flex;
    justify-content: space-between;
}

.serviceInfo {
    width: 600px;
}

.serviceInfo h1 {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 3px;
    color: var(--heading-color);
    font-size: 52px;
    line-height: 72px;
}

.serviceInfo span {
    width: 215px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--main-color-2);
}

.serviceInfo span p {
    color: var(--main-color-1);
    font-size: 30px;
}

.serviceInfo p {
    font-size: 22px;
    letter-spacing: 1px;
}

.serviceInfo .contact {
    padding: 20px 35px;
    margin-right: 30px;
    margin-top: 20px;
    background: var(--main-color-1);
    border: 2px solid var(--main-color-1);
    color: var(--text-color);
    color: #fff;
    border-radius: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.serviceInfo .resume {
    padding: 20px 35px;
    margin-right: 30px;
    margin-top: 20px;
    background: transparent;
    border: none;
    color: var(--main-color-1);
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 15px;
    text-transform: uppercase;
    border: 2px solid var(--main-color-1);
    cursor: pointer;
}
.serviceDio {
    width: 430px;
    padding-top: 100px;
}

.serviceDio h1 {
    width: 400px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    color: var(--heading-color);
    border-left: 4px solid var(--main-color-2);
    padding-left: 10px;
}

.serviceDio h1 span {
    color: var(--main-color-1);
}